body,div{padding:0; margin:0;} 
body{
	font-family: Avenir,"sans serif", Arial;
	
	
	background:#ffffff;
	
	width:100%;
	height:100%;
}
#image {
	position:relative;
	top: -20px;
}
#content2{
	position:relative;
	top:-500px;
	left: 10px;
	margin-left: 25%;
	margin-right: auto;
	width:55%;
	height:100%;
	padding: 0;
	padding-bottom:60px;

}

#content{
	margin-left: 25%;
	margin-right: auto;
	width:55%;
	height:100%;
	padding: 0;
	padding-bottom:60px;

}

#content1{
	margin-left: 25%;
	margin-right: auto;
	width:55%;
	height:100%;
	
	padding-bottom:60px;
	text-align: left;
}


h1{
	font-size:18px;
	TEXT-ALIGN: left;
	margin-left: 100px;
	margin-top: 30px;
	color:#666666;
	font-weight:normal;
	 
}

h2{
	font-size:18px;
	color:#555555;

	
}
h3{
	font-size:16px;
	color:#555555;
	font-weight:normal;
	
}


a:link{
	color:#666666;
	text-decoration: none;
	
}

a:visited{
	color:#666666;
	text-decoration: none;
}


