#Margin {
	margin-left: 30px;
}
#table {
	width: 1100px;
	margin-left: 30px;
}

td {
	padding: 5px;
 }
#TitleEditVenue {
	position: relative;
	left:250px; 
	top:-45px;
	color:#FFF;
	font-size:25px;
}
#navULEditVenue{
	width:1200px; /* width of the whole navigation bar*/
	margin:0 auto;
	}
#navulliEditVenue {
	position:relative;
	float: left;
	text-align:center;
	list-style-type:none; /*clear the format of the list*/
	width:220px; /* width of the individual tab*/
	line-height:35px;
	font-size:18px;
}
#navulliEditVenue a{
	color:#555555;
	display:block;
}
#navulliEditVenue:hover{
	background:	#F5F5F5;	
}
#view {
	color:black;
}