body,div{padding:0; margin:0;} 
body{
	font-family: Avenir,"sans serif", Arial;
	
	
	background:#ffffff;
	TEXT-ALIGN: center;
	width:100%;
	height:100%;
}

#container{
	width: 100%;
	min-height: 100%;
	margin: 0 auto; /*center*/
	padding:0;
	padding-bottom:0px;
}

#header{
	text-align:center;
	padding:0;
	border-bottom:3px solid #ffd700;
	height:100px;
	background: #008844;
	
}
#header ul{
	width: 100%;
	margin-top:0;
	margin-left:150px;
	}
#header ul li{
	padding:0;
	margin-left: 10px;
	margin-right: auto;
	margin-top:0;
	float: center;
	list-style-type:none; /*clear the format of the list*/
	
}
#header ul li a{
	margin-top:0;
	padding-top:0;
	padding-left: 90px;
	width:500;
	height:40px;
	line-height:80px;
	color:#FFF;
	font-size:28px;
	
	display:block;
	text-align:left;
	text-decoration:none;
}

#nav{
	
	background:	#DDDDDD;
	height:35px;
	width:100%;
	border:1px solid #003344ï¼›
	margin-bottom:0;
	padding-bottom:0;		
	
}
#nav ul{
	width: 800px;
	margin:0 auto;
	}

#nav ul li{
	margin-left: auto;
	margin-right: auto;
	float: left;
	text-align:center;
	list-style-type:none; /*clear the format of the list*/
	
}
#nav ul li a{
	padding:0;
	width:200px;
	height:35px;
	line-height:35px;
	color:#555555;
	font-size:18px;

	display:block;
	text-align:center;
	text-decoration:none;
}

	
#nav ul li a:hover{
	background:	#F5F5F5;	
}

#content{

	margin-top: 0;
	width:100%;
	height:100%;
	padding: 0;
	padding-bottom:60px;
	text-align: center;
}

#content1{
	margin-left: 25%;
	margin-right: auto;
	width:55%;
	height:100%;
	
	padding-bottom:60px;
	text-align: left;
}

#footer{
	clear: both; /*make footer and content into alignment*/
	height:60px;
	width:100%;
	border-top:5px solid #999999;
	border-bottom:0;
	position:absolute;
}


h1{
	font-size:18px;
	TEXT-ALIGN: left;
	margin-left: 100px;
	margin-top: 30px;
	color:#7F7F7F;
	font-weight:normal;
	 
}

h2{
	font-size:18px;
	color:#555555;

	
}
h3{
	font-size:16px;
	color:#555555;
	font-weight:normal;
	
}


a:link{
	color:#336633;
	text-decoration: none;
	
}

a:visited{
	color:#663300;
	text-decoration: none;
}

a:hover{
	
}
